<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <style>
        @font-face{
            font-family:'lastj'
            src:url(/static/lastninja.ttf);
    }
    </style>
</head>
<body>
<div id="head">Generic Welcome to your web page[Login - Help - FAQ]</div>

{%block titlepage%}
{%endblock%}
<div id="footer">
    <hr/>
    <p>&copy; 2020 your company [About - Contact]</p>
    <small class="guar">orderd by 03190105</small>
</div>
<div id="cf"><br/>
</div>
</body>
</html>