@font-face{
    font-family:lastj
    src:url(/static/lastninja.ttf);
}

body{
    font-size:17px;
    line-height:140%;
    background-color:#f0fff0;

    }
table {
    border:2px solid black;
    border-spacing: 0;
    margin-left: 10px;
}
td, th{
    border:1px dotted gray;
    padding: 2px 10px;
}

@media screen and (max-device-width:480px){
    body{font-size:25px}
}

#title{
    color:#ccaaa0;
    font-family:lastj,impact;
    font-weight:normal;
    border-color:black;
    border-width:5px;
    border-style:dashed;
    border-radius: 25px 0 25px 0;
    margin:20px 100px 15px 10px;
    padding:25px;
    background-color: #e07fee
}

#num:link{text-decoration:none;color:#b76666;border-bottom:thin dotted #b76666;}
#num:visited{text-decoration:none;color:#675c47;border-bottom:thin dotted #675c47;}
#num:hover{text-decoration:none;color:#a75c47;border-bottom:thin dotted #a75c47;}

.temp{
    color:red;
}

.humid{
    color:blue;
}

#footer{
    position: fixed;
    line-height: 50%;
    bottom:0;
    width:100%;
    text-align:center;
    padding:0px 20px 10px 20px;
    background-color: #feffff;
    z-index: 99;
}

#cf {
    position: static;
    bottom:0;
    width:100%;
    text-align:center;
    padding:0px 20px 70px 20px;
}

div#head {
    text-align:right;
    background-color: #ccffee;
    padding: 5px 10px;
}

div#tablecon {
    display: table;
    width: 100%;
    border-spacing: 10px;
}

div#row {
    display: table-row;
}

div.list{
    display: table-cell;
    vertical-align: top;
    border-style:solid;
    border-width:thin;
    padding: 15px;
    text-align:center;
    width: 15%;
    height: 200px;
    background:url(/static/images/11.jpg);

}


div.list2 {
    display: table-cell;
    vertical-align: top;
    border-style:solid;
    border-width:thin;
    padding: 15px 50px;
    text-align:center;
    width: 50%;
    height: 100%;
    margin: 100px;
}

h2{
    font-family:impact;
    font-size: 125%;
}

small{
    font-style:italic;
}

h2.greenc{
    font-family:Arial;
    color:red;
    border-width:1px;
    border-style:soild;
}

.guar{
    border-width:3px;
    border-color: normal;
    border-bottom-style:dotted;


}